body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background: url('../images/Climate\ Change\ Uganda.jpg') no-repeat center center/cover;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.8); /* Dark background */
}

.navbar-nav .nav-link {
    color: white !important;
}

.navbar-nav .nav-link:hover {
    color: #FFA500 !important; /* Orange */
}

.main-content {
    background: url('../images/background.jpg') no-repeat center center/cover;
    padding: 100px 0;
    text-align: center;
    color: white;
    background-size: cover; /* Ensure image covers the section proportionally */
}

.main-content h2 {
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.main-content p {
    font-size: 1.5rem;
    color: white;
}

.btn-orange {
    background-color: #FFA500;
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
}

footer {
    background-color: #003366; /* Dark blue */
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-nav li {
    margin: 5px 0;
}

.footer-nav a {
    color: white;
    text-decoration: none;
}

.footer-nav a:hover {
    color: #FFA500; /* Orange */
}

.social-icons {
    margin-bottom: 10px;
}

.social-icons a {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.social-icons a:hover {
    color: #FFA500; /* Orange */
}